html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Helvetica, sans-serif;

  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica, sans-serif;

  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// Custom project-specific class here
:root {
  --color-primary-light: #cfe4fd;
  --color-primary: #60a5fa;
  --color-primary-dark: #232749;
  --color-accent-light: #5694e1;
  --color-accent: #292f45;
  --color-accent-dark: #161d30;

  --secondary-color: #7366f0;
  --bs-blue: #0d6efd;
  --bs-indigo: #543ea4;
  --bs-purple: #6f42c1;
  --bs-pink: #943a4c;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}

.bg-gradient {
  @apply bg-gradient-to-r from-accent to-primary hover:from-accent hover:to-primary-dark;
  &:not(.loading)[disabled] {
    background-image: none !important;
  }
}

//menu in navbar

.hamburger1 {
  height: 5px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 500;
}
.hamburger1 div {
  background-color: #e2164d;
  position: relative;
  width: 40px;
  height: 4px;
  margin-top: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#toggle1 {
  display: none;
}
#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 30px;
}
#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}
#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}
#toggle1:checked ~ .menu1 {
  height: 450px;
}
/* Menu */
.menu1 {
  height: 0;
  transition: height 350ms linear;
  width: 100%;
  margin-top: 83px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 25px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  z-index: 500;
  /* 
    transition: height .4s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; */
}
.menu1 a:first-child {
  margin-top: 40px;
}
.menu1 a:last-child {
  margin-bottom: 40px;
}
.link1 {
  position: relative;
  bottom: 0px;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font: 700 20px 'Oswald', sans-serif;
}
.link1:hover {
  background-color: #fff;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.Toastify__toast {
  margin-top: 55px !important;
  border-radius: 15px !important;
  padding: 0px !important;
}

.Toastify__toast-icon {
  height: 100%;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #ee3ea4;
  padding: 2px !important;
  width: 45px !important;
}

.Toastify__toast-body {
  margin: 0px !important;
  padding: 0px !important;
}

.Toastify__toast-body > div:last-child {
  flex: 1;
  padding: 10px 0px 10px 0px;
}

.Toastify__close-button {
  @apply mt-2;
  @apply mr-2;
  color: #ee3ea4 !important;
}


//custom ::-webkit-scrollbar
.scrollbar-custom::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ffffff;
}

.scrollbar-custom::-webkit-scrollbar
{
	width: 6px;
	background-color: #ffffff;
}

.scrollbar-custom::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f5f5f5;
}


@layer components {
  /* .my-react-select-container {
  } */
  .my-react-select-container .my-react-select__control {
    @apply bg-black dark:bg-gray-800 border-2 border-gray-300 dark:border-gray-700 hover:border-gray-400 dark:hover:border-gray-500;
  }

  .my-react-select-container .my-react-select__control--is-focused {
    @apply border-gray-500 hover:border-gray-500 dark:border-gray-400 dark:hover:border-gray-400 shadow-none;
  }

  .my-react-select-container .my-react-select__menu {
    @apply bg-gray-100 dark:bg-gray-700 border-2 border-gray-300 dark:border-gray-600;
  }

  .my-react-select-container .my-react-select__option {
    @apply text-gray-600 dark:text-gray-200 bg-gray-100 hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-800;
  }
  /* .my-react-select-container .my-react-select__option--is-focused {
    @apply bg-gray-200 dark:bg-gray-800;
  } */

  .my-react-select-container .my-react-select__indicator-separator {
    @apply bg-gray-400;
  }

  .my-react-select-container .my-react-select__input-container,
  .my-react-select-container .my-react-select__placeholder,
  .my-react-select-container .my-react-select__single-value {
    @apply text-gray-600 dark:text-gray-200;
  }
}
/*  Hieudv-begin-CSS --------------------------------------------------------------------------*/
/*  responsive-table --------------------------------------------------------------------------*/
@media screen and (max-width: 1024px){
  .table-dict thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .table-dict tr{
    border-bottom:4px solid #343a40 !important;
    display: block;
  }
  .table-dict td {
    border-bottom: 1px solid #343a40;
    display: block;
  }
  .table-dict td::before {
    content: attr(data-label);
    margin-right:10px;
    color:rgba(255, 255, 255, 0.68);
    font-weight: bold;
    text-transform: uppercase;
    font-size:11px;
    width: 100%;
    text-align: left;
  }
  .table-dict td:last-child {border-bottom: 0;}
  .table-dict tr:last-child {margin-bottom: 0;}
  }
  /*  responsive-table --------------------------------------------------------------------------*/
  .editor-content p, .editor-content figure, .editor-content ul, .editor-content div, .editor-content table{
    @apply mb-5
  }
  .editor-content figure {@apply text-center}
  .editor-content a {@apply text-blue}
  .editor-content img {@apply inline-block}
  /*  end-Hieudv-begin-CSS --------------------------------------------------------------------------*/